@import "tailwindcss";

:root {
  color: #ffffff;
  background: #050505;
  font-family: "SF Pro Display", "PingFang SC", "Helvetica Neue", sans-serif;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: #050505;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
